version: '3.8'

services:
  react-app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5173:80"
    container_name: react-vite-app
    restart: unless-stopped
    environment:
      - NODE_ENV=production


